* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#272727;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    
}